{% extends 'base.html' %}
{% load event_filters %}
{% load static %}

{% block content %}

<section class="my_courses__body">
    <div class="top-section">

        <div class="user-details">
            <div class="image-name">
            <img class="placeholder" src="{{ user.profile.profile_picture.url }}" alt="placeholder">
            <h5 class="username">{{ user.username }}</h5>
                    <!-- Linked to event-filter -->
            {% if user in request.user.profile.friends.all %}
                <div class="remove-friend" id="friend-button">
                    <p>remove friend </p>
                    <img class="add-remove-friend__icon" src="/static/images/icons/minus-svgrepo-com.svg">
                </div>
            {% else %}
                <div class="add-friend" id="friend-button">
                    <p>add friend </p>
                    <img class="add-remove-friend__icon"  src="/static/images/icons/plus-svgrepo-com.svg">
                </div>
            {% endif %} 
        </div>
        




        </div>


        <div class="friends">
            <h3 class="friend-card__title">Friends</h3>
            
                <div class="friend-card__section">
                    {% for friend in friends %}
                    <a href="{% url 'information_my_courses' friend.id %}"><div class="friend-card">
                        <img src="/static/images/image_placeholder.jpg" class="friend-card__image">
                        <div class="friend-card__username-section">
                            <p class="friend-card__username">{{ friend.username }}</p>
                        </div>
                    </div></a>
                    {% endfor %}
                </div>
                
                
                
            
        </div>


        <!-- <div class="social-icons">
            <a href="#"><img id="social-icon" src="/static/images/Social Media/twitter.png"></a>
            <a href="#"><img id="social-icon" src="/static/images/Social Media/facebook.png"></a>
            <a href="#"><img id="social-icon" src="/static/images/Social Media/instagram.png"></a>
        </div> -->

    </div>


    <div id="my-courses__section" class="wish-list">
        <div id="main-tile" class="wish-list__main-tile">
            <h4 id="tile-title">WISH LIST</h4>
            <a href="{% url 'information_home' %}">
                <div class="add-to-button"></div>
            </a>
        </div>

        <div class="user-list-tiles">
            {% for course in courses_wishlist %}
            <a class="course-link"  href="{% url 'course_details' course.id %}">
                <div class="user_golf-course__item">
                    <img class="user_golf-course__image" src="{{ course.profile_picture.url }}">
                    <div class="user_golf-course__content">
                        <h3 class="user_golf-course__name">{{ course.name }}</h3>
                        <h4 class="user_golf-course__info">Par: {{ course.par }}  |  Average Rating: {{ course.get_average }}/5</h4>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

    </div>

    <div id="my-courses__section" class="played-list">
        <div id="main-tile" class="played-list__main-tile">
            <h4 id="tile-title">PLAYED LIST</h4>
            <a href="{% url 'information_home' %}">
                <div class="add-to-button"></div>
            </a>
        </div>
    
        <div class="user-list-tiles">
            {% for course in courses_played_list %}
            <a class="course-link"  href="{% url 'course_details' course.id %}">
                <div class="user_golf-course__item">
                    <img class="user_golf-course__image" src="{{ course.profile_picture.url }}">
                    <div class="user_golf-course__content">
                        <h3 class="user_golf-course__name">{{ course.name }}</h3>
                        <h4 class="user_golf-course__info">Par: {{ course.par }}  |  Average Rating: {{ course.get_average }}/5</h4>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    
    </div>
    
</section>

{% endblock content %}




